/node_modules
/apps/**/node_modules
/apps/.local
/apps/web/dist
/apps/desktop/dist
/apps/desktop/renderer
/apps/.env
.DS_Store
.env
.env.backup
.env.production
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
